[module/search]
type = custom/script
exec = echo "󰍉"
click-left = ~/.config/polybar/scripts/search.sh &

[module/file-man]
type = custom/script
exec = echo "󰉋"
click-left = nemo 

[module/screenshot]
type = custom/script
exec = echo "󰨤"

click-right = scrot "$(date +Screenshot_at_%d%m%y_%H%M%S).png" -e 'mv "$f" ~/Pictures/Screenshots/ && dunstify -r "991030" "Screenshot taken." "$f" -a scrot' &

click-left = image=$(date +Screenshot_at_%d%m%y_%H%M%S).png && maim -s -s -b 5.0 -p -5 -c 1,0,0.294 "$HOME/Pictures/Screenshots/$image" && dunstify -r "991030" "Screenshot taken." "$image" -a scrot &

; vim:ft=dosini
